body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  width: 60%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  cursor: pointer;
}
